/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
  background-image: url(https://wallpapers.com/images/featured/fondos-mitad-negro-mitad-blanco-3cdctu01767fgwzw.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.input-valido {
  box-shadow: 0 0 4px rgba(0, 255, 76, 0.7);
}
.input-invalido {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.7);
}
input.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
select.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.Marcado {
  opacity: 0.5;
}

.borde-luz {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
@media (max-width: 700px) {
  .container {
    width: 100% !important;
    border-radius: 0 !important;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 90% !important;
  }
}
